/*******************************/
/********* General CSS *********/
/*******************************/
body {
    color: #666666;
    background: #dddddd;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
    color: #0f1347;
}

a {
    color: #666666;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #7d546c;
    outline: none;
    text-decoration: none;
}

.btn:focus {
    box-shadow: none;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    background: #ffffff;
}

.back-to-top {
    position: fixed;
    display: none;
    background: #7d546c;
    color: #121518;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 9;
}

.back-to-top:hover {
    color: #7d546c;
    background: #121518;
}

.back-to-top i {
    padding-top: 10px;
}

.btn {
    transition: .3s;
}


/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
    position: relative;
    height: 90px;
    background: #7d546c;
}

.top-bar .logo {
    padding: 15px 0;
    text-align: left;
    overflow: hidden;
}

.top-bar .logo h1 {
    margin: 0;
    color: #0f1347;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
}

.top-bar .logo img {
    max-width: 100%;
    max-height: 60px;
}

.top-bar .top-bar-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar .top-bar-icon {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar .top-bar-icon [class^="flaticon-"]::before {
    margin: 0;
    color: #0f1347;
    font-size: 40px;
}

.top-bar .top-bar-text {
    padding-left: 15px;
}

.top-bar .top-bar-text h3 {
    margin: 0 0 5px 0;
    color: #0f1347;
    font-size: 16px;
    font-weight: 400;
}

.top-bar .top-bar-text p {
    margin: 0;
    color: #0f1347;
    font-size: 13px;
    font-weight: 400;
}

@media (min-width: 992px) {
    .top-bar {
        padding: 0 60px;
    }
}

@media (max-width: 991.98px) {
    .top-bar .logo {
        text-align: center;
    }
}


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.nav-bar {
    position: relative;
    background: #7d546c;
    transition: .3s;
}

.nav-bar .container-fluid {
    padding: 0;
}

.nav-bar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1366px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    z-index: 999;
}

.nav-bar .navbar {
    height: 100%;
    background: #0f1347 !important;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #7d546c;
    transition: none;
}

.nav-bar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

.nav-bar .btn {
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 0;
}

.nav-bar .btn:hover {
    color: #0f1347;
    background: #7d546c;
    border-color: #7d546c;
}

@media (min-width: 992px) {
    .nav-bar {
        padding: 0 75px;
    }
    
    .nav-bar.nav-sticky {
        padding: 0;
    }
    
    .nav-bar .navbar {
        padding: 20px;
    }
    
    .nav-bar .navbar-brand {
        display: none;
    }
    
    .nav-bar a.nav-link {
        padding: 8px 15px;
        font-size: 15px;
        text-transform: uppercase;
    }
}

@media (max-width: 991.98px) {
    .nav-bar .navbar {
        padding: 15px;
    }
    
    .nav-bar a.nav-link {
        padding: 5px;
    }
    
    .nav-bar .dropdown-menu {
        box-shadow: none;
    }
    
    .nav-bar .btn {
        display: none;
    }
}


/*******************************/
/******** Carousel CSS *********/
/*******************************/
.carousel {
    position: relative;
    width: 100%;
    height: calc(100vh - 170px);
    min-height: 400px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.carousel .carousel-inner,
.carousel .carousel-item {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel .carousel-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .carousel-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
}

.carousel .carousel-caption {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 170px);
    min-height: 400px;
}

.carousel .carousel-caption p {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.carousel .carousel-caption h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 35px;
}

.carousel .carousel-caption .btn {
    padding: 15px 35px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 0;
    transition: .3s;
}

.carousel .carousel-caption .btn:hover {
    color: #0f1347;
    background: #7d546c;
    border-color: #7d546c;
}

@media (max-width: 767.98px) {
    .carousel .carousel-caption h1 {
        font-size: 40px;
        font-weight: 700;
    }
    
    .carousel .carousel-caption p {
        font-size: 20px;
    }
    
    .carousel .carousel-caption .btn {
        padding: 12px 30px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
    }
}

@media (max-width: 575.98px) {
    .carousel .carousel-caption h1 {
        font-size: 30px;
        font-weight: 500;
    }
    
    .carousel .carousel-caption p {
        font-size: 16px;
    }
    
    .carousel .carousel-caption .btn {
        padding: 10px 25px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
    }
}

.carousel .animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

/*******************************/
/********** per CSS **********/
/*******************************/
.per {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.per .section-header {
    margin-bottom: 30px;
}

.per .per-img {
    position: relative;
    height: 100%;
}

.per .per-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.per .per-text p {
    font-size: 16px;
}

.per .per-text a.btn {
    position: relative;
    margin-top: 15px;
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #0f1347;
    border-radius: 0;
    background: #7d546c;
    transition: .3s;
}

.per .per-text a.btn:hover {
    color: #7d546c;
    background: #0f1347;
}

@media (max-width: 767.98px) {
    .per .per-img {
        margin-bottom: 30px;
        height: auto;
    }
}

/*******************************/
/********* room CSS *********/
/*******************************/
.room {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.room .room-item {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.room .room-img {
    position: relative;
    overflow: hidden;
}

.room .room-img img {
    width: 100%;
}

.room .room-text {
    display: flex;
    align-items: center;
    height: 60px;
    background: #0f1347;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.room .room-text h3 {
    margin: 0;
    padding: 0 15px 0 25px;
    width: calc(100% - 60px);
    font-size: 20px;
    font-weight: 700;
    color: #7d546c;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.room .room-item a.btn {
    width: 60px;
    height: 60px;
    padding: 3px 0 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    line-height: 60px;
    font-weight: 100;
    color: #0f1347;
    background: #7d546c;
    border-radius: 0;
    transition: .3s;
}

.room .room-item:hover a.btn {
    color: #ffffff;
}

/*******************************/
/********* dance CSS *********/
/*******************************/
.dance {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.dance .dance-item {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.dance .dance-img {
    position: relative;
    overflow: hidden;
}

.dance .dance-img img {
    width: 100%;
}

.dance .dance-text {
    display: flex;
    align-items: center;
    height: 60px;
    background: #0f1347;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dance .dance-text h3 {
    margin: 0;
    padding: 0 15px 0 25px;
    width: calc(100% - 60px);
    font-size: 20px;
    font-weight: 700;
    color: #7d546c;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dance .dance-item a.btn {
    width: 60px;
    height: 60px;
    padding: 3px 0 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    line-height: 60px;
    font-weight: 100;
    color: #0f1347;
    background: #7d546c;
    border-radius: 0;
    transition: .3s;
}

.dance .dance-item:hover a.btn {
    color: #ffffff;
}


/*******************************/
/********* gardning CSS *********/
/*******************************/
.gardning {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.gardning .gardning-item {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.gardning .gardning-img {
    position: relative;
    overflow: hidden;
}

.gardning .gardning-img img {
    width: 100%;
}

.gardning .gardning-text {
    display: flex;
    align-items: center;
    height: 60px;
    background: #0f1347;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.gardning .gardning-text h3 {
    margin: 0;
    padding: 0 15px 0 25px;
    width: calc(100% - 60px);
    font-size: 20px;
    font-weight: 700;
    color: #7d546c;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.gardning .gardning-item a.btn {
    width: 60px;
    height: 60px;
    padding: 3px 0 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    line-height: 60px;
    font-weight: 100;
    color: #0f1347;
    background: #7d546c;
    border-radius: 0;
    transition: .3s;
}

.gardning .gardning-item:hover a.btn {
    color: #ffffff;
}


/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
    position: relative;
    margin-top: 45px;
    padding-top: 90px;
    background: #0f1347;
    color: #ffffff;
}

.footer .footer-contact,
.footer .footer-link,
.footer .newsletter {
    position: relative;
    margin-bottom: 45px;
}

.footer h2 {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #7d546c;
}

.footer h2::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #7d546c;
}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    transition: .3s;
}

.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .footer-link a:hover {
    color: #7d546c;
    letter-spacing: 1px;
}

.footer .footer-contact p i {
    width: 25px;
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
}

.footer .footer-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 7px 0;
    text-align: center;
    border: 1px solid rgba(256, 256, 256, .3);
    border-radius: 60px;
    transition: .3s;
}

.footer .footer-social a i {
    font-size: 15px;
    color: #ffffff;
}

.footer .footer-social a:hover {
    background: #7d546c;
    border-color: #7d546c;
}

.footer .footer-social a:hover i {
    color: #0f1347;
}

.footer .newsletter .form {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.footer .newsletter input {
    height: 50px;
    border: 2px solid #121518;
    border-radius: 0;
}

.footer .newsletter .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #7d546c;
    background: #121518;
    border-radius: 0;
    border: 2px solid #7d546c;
    transition: .3s;
}

.footer .newsletter .btn:hover {
    color: #121518;
    background: #7d546c;
}

@media (max-width: 768px) {
    .footer .copyright p,
    .footer .copyright .col-md-6:last-child p {
        margin: 5px 0;
        text-align: center;
    }
}
